/*global*/
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Oswald', sans-serif;
    
}

p{
    line-height: 2;
}



/*Utilities*/
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

.houses{
    display: flex;
    flex-direction: row;
    
}

.house-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 50px;
    background-color: beige;
}

.house-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.house-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    
}

.house-info{
    margin-bottom: 10px;
}

.house-include{
    display: flex;
    flex-direction: row;
   margin-bottom: 15px;
    
}

.house-include-item{
    display: flex;
    flex-direction: row;
    
    margin-right: auto;
    margin-left: auto;
    
    
}

.house-include-item img{
    margin-right: 15px;
}

.house-container a{
    text-decoration: none;
    color: white;
    background-color: orange;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.house-info h5{
    color: green;
}



.title{
    text-align: center;
}


/*Header*/
.site-init{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
    text-align: center;
    padding: 1rem;
    
}

.site-init a{
    color: white;
}

.bar{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}


.more-about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.more-about-item{
    padding: 10px;
    margin-right: 20px;
}

.more-about-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.more-about-item h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
