/*global*/
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Oswald', sans-serif;
    
}

p{
    line-height: 2;
}

img{
    max-width: 100%; /*will grab the 100% of the container*/
}

a{
    text-decoration: none;
}

/*Utilities*/
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

.vinc{
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.vinc a{
    text-decoration: none;
    color: white;
    background-color: orange;
}

.houses{
    display: flex;
    flex-direction: row;
}

.house-container{
    background-color: #dedede;
    margin-right: 10px;
}

.house-container-img{
    max-width: 100%;
}

.house-item{
    padding: 15px;
}

.house-info{
    margin-bottom: 10px;
}

.house-include{
    display: flex;
}

.house-include-item{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.house-include-item img{
    margin-right: 10px;
}



.btn-details{
    text-decoration: none;
    color: white;
    background-color: orange;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


.title{
    text-align: center;
}


/*Header*/
.site-init{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
    text-align: center;
    padding: 1rem;
    
}

.site-init a, .site-secondary a{
    color: white;
}

.bar{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}




.site-secondary{
    background-color: #2d2d2d;
    color: white;
}


.more-about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.more-about-item{
    padding: 10px;
    margin-right: 20px;
}

.more-about-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.more-about-item h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/*Contact*/
fieldset{
    padding: 20px;
}

legend{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-container{
    padding: 10px;
}

.input-container label{
    display: inline-block;
    width: 180px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.input-container input, .input-container textarea, .input-container select{
    background-color: lightgray;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
}

.contact-container{
    display: flex;
    flex-direction: row;

}

.contact-container .input-container{
    display: flex;
    flex-direction: row;
    width: 10%;
    margin-right: 20px;

}

.send{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



/*Footer*/
footer{
    background-image: url(../img/encuentra.jpg);
    background-size: cover;
    height: 40vh;
    max-width: 100%;
    margin-top: 35px;
    color: white;
}

.footer-container{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}

.footer-info{
    margin-top: auto;
    margin-bottom: auto;
}

.footer-container a{
    text-decoration: none;
    color: white;   
}

.footer-vinc{
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.footer-vinc a{
    text-decoration: none;
    color: white;
    background-color: orange;
}

.footer-subtitle{
    font-size: 30px;
}

.footer-subtitle-info{
    font-size: 15px;

}

/*ABOUT US*/

.about-us-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}


.we-are{
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 5px;
    text-align: center;
}

.about-us-info{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.about-us-img{
  border-radius: 5%;  
}

@media (max-width: 768px){
    
    .container{
        width: 90%;
        
    }
    
    .bar{
        flex-direction: column;
        justify-content: center;
    }
    .site-init{
        height: 25vh;
    }

    .more-about-container{
        flex-direction: column;   
    }

    .houses{
        flex-direction: column;
    }

    .house-container{
        margin-bottom: 10px;
    }

    .footer-subtitle-info{
        display: none;
    }

    .footer-vinc {
        margin-left: 50px;
        margin-right: 50px;
    }

    .footer-vinc a{
        background-color: rgb(194, 66, 66);
    }

    .footer-subtitle{
        text-align: center;
    }

    .contact-container{
        flex-direction: column;
    }

    .about-us-container{
        flex-direction: column;
    }

    .about-us-info{
        width: 95%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }

}

/*PRACTICE HTML*/

table{
    border: 1px solid black;
    border-collapse: collapse;
    
}

th, td{
    padding: 5px;
    text-align: center;
    
    margin-top: 10px;
}

.error{
    
    
}

tbody tr{
    background-color: rgb(241,182,182);
    color: rgb(99,6,6);
    
    
}